.actions {
	@include adaptive-value('padding-top', 60, 30, 1);
	@include adaptive-value('padding-bottom', 124, 45, 1);
}
.wrapper {}
.products-slider {
	.swiper-pagination {
		margin-top: 60px;

		@include max-screen(700px){
			display: none;
		}
	}
	.product-card__glory {
		@include max-screen(360px){
			flex-direction: column;
			align-items: flex-start;
			row-gap: 15px;
		}
	}
	.product-card__bottom {
		.btn {
			font-size: 13px;
		}
	}
}
.products-slider__header {
	display: grid;
	justify-content: space-between;
	grid-auto-flow: column;
	align-items: center;
	grid-column-gap: 30px;
	@include adaptive-value('margin-bottom', 30, 30, 1);
	

	.products-slider__link {
		@include max-screen(700px){
			display: none;
		}
	}
}
.products-slider__title {
	margin: 0;
	font-weight: 700;
font-size: 30px;
line-height: 46px;
letter-spacing: 0.05em;
}
.products-slider__link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: rgba($text, .58);
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 0.05em;
	
	.icon-chev-down {
		flex-shrink: 0;
		margin-left: 15px;
		font-size: 12px;
		color: $accent;	
		transform: rotate(-90deg);
	}
}
.products-carousel {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	padding: 10px 15px 0 15px;
	margin-left: -15px;
	margin-right: -15px;

	@include max-screen(700px){
		padding-bottom: 15px;
	}
}
.swiper {}
.swiper-container {}
.swiper-wrapper {}
.swiper-slide {}
.actions__button{
	text-align: center;
	 .products-slider__link{
		display: none;
		@include max-screen(700px){
			display: inline-flex;
			margin-top: 30px;
		}

	}
}