.catalog {
	// position: relative;
}
.catalog-menu {

	@include min-screen($multilevelPoint){
		display: flex;
		align-items: center;
		justify-content: space-between;
		
	}

	li{
		list-style-type: none;
	}
	a{
		text-decoration: none;
		color: #fff;
	}
}
.catalog-menu__item {
	& > .catalog-submenu{
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background-color: $text;
		transition: all .3s;


		@include min-screen($multilevelPoint){
			padding: 0 calc((100% - 1587px)/2);
			display: grid;
			grid-template-columns: repeat(5,1fr);
			grid-column-gap: 15px;
			z-index: 10;
			visibility: hidden;
			opacity: 0;
			
		}
		@include max-screen($maxWidthContainer + 'px'){
			padding: 0 15px;
		}

		&--imaged{
			@include min-screen($multilevelPoint){
				grid-template-columns: repeat(6,1fr);
				grid-column-gap: 15px;
			}

			.catalog-submenu__item {
				padding-top: 30px;
				&:before{
					display: none;
				}
				& > .catalog-submenu__link{
					padding: 0;
				}
			}
		}

	}
	&.catalog-item-opened > .catalog-submenu{
		visibility: visible;
		opacity: 1;
	}
}
.catalog-menu__link {

	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			color: $accent;
			border-bottom-color: $accent;


		}
	}

	@include min-screen($multilevelPoint){
		display: inline-block;
		border-bottom: 2px solid transparent;
		padding: 24px 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		
	}

	.catalog-item-opened &{
		color: $accent;
		border-bottom-color: $accent;
	}


	// &:hover, &:active{
	// 	.with-submenu {
	// 		ul{
	// 			display: block;
	// 		}
	// 	}
		
	// }
	

}
.catalog-submenu__item {


	@include min-screen($multilevelPoint){
		position: relative;
		
	}

	&:before{
		@include min-screen($multilevelPoint){
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 80px;
			width: calc(100% + 15px);
			height: 1px;
			background-color: rgba(#fff, 0.5);
			
		}
	}

	&:last-child{
		&:before{
			width: 100%;
		}
	}



	// border-bottom: 1px solid #fff;
	& > .catalog-submenu__link{
		font-size: 16px;
		line-height: 20px;

		@include min-screen($multilevelPoint){
			margin-bottom: 30px;
			display: inline-block;
			padding: 30px 0;
			font-weight: 700;
			
		}

	}
	li{

		&:not(:last-child){
			// margin-bottom: 20px;
			@include adaptive-value('margin-bottom', 20, 0, 1);
		}
	}
	a{
		@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					text-decoration: underline;
				}
			}

	}
}
.catalog-submenu__link {}
.catalog__view-all{
	margin-top: 30px;
	padding: 30px 0;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% + 15px);
		border-top: 1px solid rgba(#fff, .5);
	}

	@include max-screen($multilevelPoint){
		display: none;
	}

}
.catalog__view-link{
	margin-left: 15px;
	text-decoration: none;
	font-size: 16px;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				text-decoration: underline;
			}
		}
}
.catalog-menu .catalog__view-link{
	color: $accent;

}
.catalog-submenu__item--imaged {}
.catalog-submenu__link {}
.catalog-submenu__image {
	width: 100px;
	height: 105px;
	position: relative;

	@include max-screen($multilevelPoint){
		display: none;
	}
}
.catalog-submenu__pict {
	@include absolute-center();
}