.main {
	color: #fff;
	background-color: rgba(#000, 0.92);
	background-image: url(../images/dist/main-section/main-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}
.main__top {
}
.main__container{
	@include min-screen($md){
		display: grid;
		grid-template-columns: auto prc(447,1587);
		@include adaptive-value('grid-column-gap', 134, 0, 1);
		grid-column-gap: 134px;
		
	}
}
.main__swiper {
	min-width: 0;

	.swiper-pagination{
		text-align: left;
		margin-top: 0;
	}
}
.swiper {}
.main__slider {}
.swiper-wrapper {}
.swiper-container {}
.swiper-slide {}
.main__text {
	padding-top: 44px;
	padding-bottom:50px;
}
.main__title {
	margin-bottom: 15px;
	font-weight: 700;
	@include adaptive-value('font-size', 36, 23, 1);
	line-height: calc(46px / 36px);
	letter-spacing: 0.03em;
}
.main__subtitle {
	margin-bottom: 30px;
	font-weight: 500;
	@include adaptive-value('font-size', 36, 23, 1);
	line-height: calc(46px / 36px);
	letter-spacing: 0.03em;
}
.main__descr {
	@include adaptive-value('margin-bottom', 60, 20, 1);
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.7);

	@include max-screen($xss){
		font-size: 18px;
	}

	span{
	font-weight: 700;

	}
}
.btn {}
.swiper-pagination {}
.main__pict {

}
.pict-main {
	align-self: center;
	padding-top: 35px;
	padding-bottom: prc(499,447);
	// padding-bottom: prc(447, 499);
	max-width: 448px;
	height: 0;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		width: prc(420, 448);
		left: prc(129,420);
		// top: 86px;
		top: prc(70, 420);
		// height: prc(420, 448);
		padding-bottom: 94%;
		border-radius: 50%;
		border: 1px solid #fff;
		z-index: 0;

		@include max-screen($xsss){
			display: none;
		}
	}

}
.pict-main__img {
	@include absolute-center;
	max-width: 100%;
	max-height: 499px;
	z-index: 2;
}
.pict-main__mark{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	position: absolute;
		background-color: rgba($accent, .4);
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 34px;
	border-radius: 50%;
	z-index: 3;


	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			cursor: pointer;
		}
	}

	@include max-screen($xss){
		display: none;
	}

	&:first-of-type{
		top: prc(170, 420);
		left: prc(57, 420);
	}

	&:nth-child(2){
		top: prc(60, 420);
		left: prc(350, 420);
	}
	&:nth-child(3){
		top: prc(300, 420);
		left: prc(345, 420);
	}

	

	&:before{
		@include absolute-center;
		content: '';
		width: 20px;
		height: 20px;
		background-color: $accent;
		border-radius: inherit;
		z-index: 0;

	}

	span{
		position: relative;
		z-index: 2;
	}

}
.main__fractions {
	display: flex;
	align-items: flex-end;

	@include max-screen($xsss){
		display: none;
	}
	.swiper-pagination {
		position: static;

		.swiper-pagination-bullet{
			vertical-align: bottom;
		}
	}
}
.swiper-pages {
	margin-left: 32px;
	display: flex;
	align-items: flex-end;
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.1em;

	color: #E8AA31;
}
.swiper-pages__current {
}
.swiper-pages__overal {
	font-size: 18px;
	color: #fff;
}
.bottom-main {
	margin-top: -30px;
	padding-top: 88px;
	padding-bottom: 64px;
// background-color: #000;

	@include max-screen($md){
		margin-top: 0;
		padding: 46px 0;
	}

	@include min-screen($md){
		background: linear-gradient(90deg, rgba(53, 53, 53, 0) 0%, rgba(20, 20, 20, 0.5) 100%);
	box-shadow: (0px 4px 20px rgba(0, 0, 0, 0.15));
		
	}
}
.bottom-main__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc((610px - 30px)/2), 1fr));
	grid-gap: 30px;
}
.bottom-main__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bottom-main__icon {
	max-width: 90px;
	max-height: 65px;
	margin-bottom: 15px;

	img{
		// vertical-align: top;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}
.bottom-main__name {
	max-width: 290px;
	font-weight: 600;
font-size: 20px;
line-height: 32px;
	text-align: center;
	// max-width: 295px;
}
// исправление бага отсутствия прозрачности при fade--переходах с/у слайдами
.swiper-container-fade{
	.swiper-slide{
		transition: opacity .5s !important;
	}
}