.page-catalog {
	padding-top: 30px;
}
.wrapper {}
.page-catalog__title{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
font-size: 24px;
line-height: 29px;
}
.page-catalog__top {
	display: grid;
	align-items: center;

	@include max-screen($md){
		margin-bottom: 30px;
	}
	@include min-screen($md){
		grid-gap: 30px;
		grid-template-columns: 1fr minmax(374px, auto);
		
	}
}

.page-catalog__sort {
	// width: 100%;
	// max-width: 374px;
}
.sort-page-catalog {}
.sort-page-catalog__select {
	.fstdropdown>.fstselected{
		@include min-screen($md){
			max-width: 374px;
			
		}
	}
	
}
.fstdropdown{
	position: relative;
	overflow: visible;
}
.fstdiv.open>.fstdropdown{
	position: relative;
}
.fstdropdown>.fstselected{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 500;
	color: rgba(#000, .5);
}

.fstdropdown.open:hover{
	border-color: $accent;
	box-shadow: none;
}
.fstdropdown>.fstlist{
	background-color: #fff;
	position: absolute;
	top: calc(100% + 2px);
	width: 100%;
	box-shadow: none;
}
.fstdropdown.open:hover{
	overflow: visible;
}
.fstdropdown>.fstselected::after{
	content: '\e906';
	font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    border: none;
    font-size: 8px;
}

.page-catalog__content {
	display: grid;
	@include adaptive-value('padding-bottom', 120, 30, 1);
	grid-gap: 30px;

	@include min-screen($md){
		grid-template-columns: 375px 1fr;
		
	}
}

.range-top__wrap{
	flex: 0 2 auto;
}
// .range-top__wallet {
// 	flex-shrink: 0;
// }

.catalog-filter {
	.range-top {
		padding: 8px 0;
		margin-bottom: 20px;
		display: flex;
		border: 1px solid #CBCBCB;
border-radius: 2px;
		position: relative;
			&:before{
				content: '';
				@include absolute-center;
				display: block;
				width: 1px;
				height: 100%;
				background-color: #CBCBCB;
			}
	}
	.range-top__col {
		flex: 0 0 50%;
		display: flex;
	// align-items: center;
	justify-content: center;

	}
	.range__input {
		border: none;
	}
	.noUi-target{
		background-color: $accent;
		border-color: $accent;
	}
	.noUi-connect{
		background-color: $text;
	}
	.noUi-horizontal .noUi-handle{
		width: 18px;
		height: 18px;
		margin-top: -9px;
		border-color: $accent;
		background-color: $text;
		border-width: 3px;
	}
}
.accordion {
	padding: 0;
}
.accordion__item {
	list-style-type: none;
}
.accordion__link {}
.catalog-filter__header {
	padding: 23px 30px;
	background-color: $text;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;

	@include max-screen($md){
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 15px;
	}

	i{
		font-size: 12px;
		transition: transform .4s;

		@include min-screen($md){
			display: none;
		}
	}

	.accordion__item.active &{
		i{
			transform: rotate(180deg);
		}
	}	
}
.accordion__content {}
.catalog-filter__list {}
.catalog-filter__item {


	&:not(:last-child){
		border-bottom: 1px solid rgba($text, .5);
	}
	&--slider{
		.catalog-filter__link {
			background-color: #fff;
			color: $text;
		}
	}
	&.active{
		.catalog-filter__link {
			&:after{
    			transform: rotate(180deg);

			}
		}
	}
}
.catalog-filter__item--slider {}
.catalog-filter__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 15px;
	padding: 13px 30px;
	background-color: $text;
	color: #fff;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				cursor: pointer;
			}
		}


	&:after{
		content: '\e906';
		display: block;
		font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 8px;
    transition: transform .4s;
    color: $accent;
	}
}
.catalog-filter__content {
	padding:10px 30px;
	.range {
		padding-bottom: 57px;
		.noUi-horizontal .noUi-tooltip{
			bottom: auto;
			top: 150%;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;

			color: rgba(20, 20, 20, 0.5);	
		}
		.noUi-tooltip{
			padding: 0;
			border: none;
		}
	}

}
.catalog-filter__option {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 10px 0;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				cursor: pointer;
			}
		}
}
.catalog-filter__input {
	@include checkbox;

	&:checked + .catalog-filter__check {
		border-color: $accent;
		&:before{
			transform: scale(1);
		}
	}	
}
.catalog-filter__check {
	width: 18px;
	height: 18px;
	margin-right: 15px;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 2px;

	&:before{
		content: '';
		display: block;
		@include absolute-center-old;
		width: 12px;
		height: 12px;
		background: #E8AA31;
		border-radius: 1px;
		transition: transform .3s;
		transform: scale(0);
	}

}
.catalog-filter__label {
	display: flex;
	align-items: flex-end;
	font-weight: 500;

	.star-rating{
		@include star-rating(22px, 10px, $accent);
	}
}
.catalog-filter__count {
	margin-left: 15px;
	color: $accent;

	&--rating{
		margin-left: 20px;
		color: $text;
		line-height: normal;
	}
}

.catalog-content {
	.catalog-cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		grid-gap: 30px;
	}

}
.catalog-content__bottom {
	@include adaptive-value('padding-top', 60, 30, 1);
	padding-top: 60px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-between;

	@include max-screen($sm){
		flex-direction: column;
		align-items: center;
	}
}
.btn {}
.btn-empty {}
.pagination {
	// display: flex;
	// align-items: center;
	// column-gap: 34px;

	@include pagination($arrowColor: $accent);

}
.pagination__arrow {
// 	@include but-null;
// 	color: $accent;
	font-size: 10px;

// 	&[disabled]{
// 		color: rgba(#000, .12);
// 	}
}
// .pagination__arrow--prev {
// 	transform: rotate(90deg);
// }
// .pagination__list {
// 	display: flex;
// 	column-gap: 9px;
// }
// .pagination__item {
// 	list-style-type: none;
// }
.pagination__link {
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	width: 34px;
// 	height: 34px;
	font-weight: 500;
// 	font-size: 18px;
// 	line-height: 32px;
// 	/* identical to box height, or 178% */
// 	border-radius: 50%;
// 		background-color: #fff;

// color: #000000;
// 	&.active{
// 		color: #fff;
// 		background-color: $accent;
// 	}
// }
// .pagination__arrow--next {
// 	transform: rotate(-90deg);
}