.page-product__content{
	display: grid;
	grid-gap: 30px;
	@include adaptive-value('padding-bottom', 120, 60, 1);

	@include min-screen(1100px){
		grid-template-columns: minmax(500px, prc(754,1590)) 1fr;
		
	}
}
.product-view {
	min-width: 0;
}
.product-view__screen {
	margin-bottom: 16px;
}
.swiper {}
.swiper-container {}
.swiper-wrapper {}
.swiper-slide {}
.product-view__slide{
	height: 0;
	padding-bottom: prc(577,754);

}
.product-view__thumb{
	height: 0;
	padding-bottom: prc(177,195);
	overflow: hidden;
}
.product-view__nav {}
.swiper-thumbs {}

.product-info {
	padding: 0 30px;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

	@include max-screen($xss){
		padding: 0 15px;
	}
}
.product-info__header {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-column-gap: 30px;
	grid-row-gap: 15px;
	align-items: center;

	@include max-screen($md){
		grid-template-columns: 1fr 1fr;
	}

}
.product-info-row {
	padding: 30px 0;
	&:not(:last-child){
		border-bottom: 1px solid rgba(20, 20, 20, 0.15);
	}
}
.page-product__title {
	margin: 0;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	
	@include max-screen($md){
		grid-column: span 2;	
	}
	@include max-screen($xsss){
		grid-column: span 2;	
	}
}
.product-info__rating {
	.star-rating {
		 @include star-rating(21px, 10px, $accent);;
	}

}
.product-info__actions {
	display: flex;
	align-items: center;
	column-gap: 30px;

	@include max-screen($md){
		justify-content: end;
	}
}
.icon-equilibrium {
	@include but-null;
}
.icon-favorites {
	@include but-null;
	color: $accent;
	font-size: 24px;
}
.product-info__available {
	grid-column: span 3;
	color: #24AD53;

	@include max-screen($md){
		grid-column: span 2;
	}
}
.product-info__techs {}
.techs-product-info {}
.techs-product-info__row {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

	&:not(:last-child){
		margin-bottom: 20px;
	}

	@include min-screen($sm){
		flex-direction: row;
	column-gap: 30px;
	}
}
.techs-product-info__key {

	@include min-screen($sm){
		flex: 0 0 165px;
		
	}
}
.techs-product-info__value {
	flex: 1 1 auto;
	color: rgba(20, 20, 20, 0.5);
}
.product-info__options {}
.options-product-info {
	display: grid;
	grid-row-gap: 10px;
	align-items: center;

	@include min-screen($sm){
		grid-template-columns: minmax(177px, 200px) 1fr;
		grid-row-gap: 20px;
		column-gap: 35px;
		
	}
}
.options-product-info__name {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;

}
.options-product-info__select {

	&:not(:last-child){
		@include max-screen($sm){
			margin-bottom: 10px;
		}
		
	}

}
.dropdown-dark{
	.fstdiv{
		height: 40px;
	}
	.fstdropdown>.fstlist{
		max-height: 358px;
		top: calc(100% + 10px);
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	}
	.fstlist>div:hover{
		background-color: #cdcdcd;
	}
	.fstlist>div.selected{
		background-color: $text;
		color: #fff;
	}
	.fstdropdown>.fstselected::after{
		top: 0;
		right: 0;
		margin-top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		background-color: $text;
		color: $accent;
	}
	
}
.product-info__bottom {}
.product-info__purchase {
	display: grid;
	column-gap: 30px;
	grid-row-gap: 15px;
	justify-items: stretch;
	margin-bottom: 38px;

	@include min-screen($sm){
		grid-auto-flow: column;
		
	}
}
.product-info__price {
	font-weight: 700;
	font-size: 30px;
	line-height: normal;

	&:after{
		content: '';
		width: em(12);
		height: em(11);
		display: inline-block;
		// vertical-align: middle;
		margin-left: em(8);
		background-color: #fff;
		background-image: url(../images/dist/rub_ico.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}
}
.product-info__points {
}
.points-product-info {
	display: flex;
	align-items: center;
	column-gap: 21px;

	@include min-screen($sm){
	justify-self: end;
		
	justify-content: flex-end;
	}
}
.points-product-info__value {
	font-weight: 500;
	font-size: 14px;
color: rgba(20, 20, 20, 0.5)
}
.points-product-info__ques {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
font-size: 12px;
line-height: 15px;
	width: 19px;
height: 19px;
border-radius: 50%;
background: rgba(20, 20, 20, 0.3);
}
.product-info__operation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 30px;
	row-gap: 15px;
	justify-content: space-between;
}
.product-info__counter {
	.counter {
		height: 50px;
		width: 150px;
		border: none;
	}
	.counter__button {
		max-width: none;
		flex: 0 0 50px;
	background-color: $text;
	}

}
.counter-minus {}
.counter__count {
	flex: 0 0 50px;
	font-weight: 500;
font-size: 18px;
}
.counter-plus {}
.product-info__buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	// justify-content: flex-end;
	.btn {
		@include max-screen(600px){
			width: 100%;
		}
	}
}
.btn {
	.icon-cart {
		margin-left: 16px
	}

}

.wrapper {}
.page-product__chars {

}
.product-chars {
	padding: 30px 30px 0 30px;
	background: #FEFEFE;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	.combine {
		.tab {
			&.active{
				background-color: transparent;

			}
		}

	}

}
._tabs {}
.accordion {}
.product-chars__tabs {}
.tabs-product-chars {
	
	.tabs-buttons {
		// display: flex;
		@include adaptive-value('column-gap', 60, 8, 1);
		border-bottom: 1px solid rgba(20, 20, 20, 0.15);
	}
}
.accordion__item {}
.tabs-product-chars__item {
	.accordion__content {
		padding-top: 15px;
	}

}
.accordion__link {}
.tabs-product-chars__link {
	display: block;
	position: relative;
	padding-bottom: 20px;
	font-weight: 600;
font-size: 20px;
line-height: 24px;

color: rgba(20, 20, 20, 0.5);

	@include max-screen($sm){
		margin-bottom: 15px;
	}
	&.active {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;

		color: #141414;
		
		&:after{
			content: '';
			width: 100%;
			position: absolute;
			display: block;
			height: 2px;
			background-color: $accent;
			left: 0;
			bottom: -1px;
		}
	}


}
.hidden {}
.product-chars__content {}
.content-product-chars {}
.product-chars__descr{
	padding-bottom: 30px;
}
.tab-content {}
.content-product-chars__item {
	padding-top: 30px;
}
.replaced-tab-content {}
.product-chars__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}
.chars__features {
	column-width: 362px;
	column-gap: 60px;
	column-rule: 1px solid rgba(20, 20, 20, 0.15);
}
.chars__feature {}
.feature-chars {
	break-inside: avoid;
	// break-after: avoid;
	@include min-screen($xsss){
		padding-bottom: 30px;
		
	}
}
.feature-chars__tiltle {
	@include adaptive-value('margin-bottom', 30, 15, 1);
	font-weight: 700;
font-size: 18px;
line-height: 22px;
}
.feature-chars__table {
	display: grid;
	font-weight: 500;
font-size: 18px;
line-height: 22px;
	
	@include min-screen($xsss){
		grid-template-columns: auto 1fr;
		grid-column-gap: 60px;
		grid-row-gap: 20px;
		
	}
}
.feature-chars__key {}
.feature-chars__val {
	@include max-screen($xsss){
		margin-bottom: 15px;
	}
}
.product-chars__reviews{
	// padding-bottom: 30px;
}
.product-noreviews {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 30px;
	gap: 30px;

	@include max-screen($md){
		flex-direction: column;
		align-items: flex-start;
	}
	.btn {
		flex: 0 0 auto;
	}
}

.product-noreviews__text {
	flex: 1 1 aiuto;
	font-weight: 500;
font-size: 18px;
line-height: 22px;
}
.product-review-row {
	padding: 30px 0;

	&:not(:last-child){
		border-bottom: 1px solid rgba(20, 20, 20, 0.15);
	}
}
.product-review {
	display: grid;
	grid-column-gap: 30px;
		grid-template-columns: 80px 1fr;

	@include max-screen($xs){
		grid-row-gap: 15px;
		grid-template-columns: 50px 1fr;
		
	}
}
.product-review__userpic {
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 50%;
	overflow: hidden;

	@include max-screen($xss){
		width: 50px;
		height: 50px;
	}

	img{
		@include absolute-center;
	}
}
.product-review__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
	margin-bottom: 20px;

	@include max-screen($xs){
		flex-direction: column;
		row-gap: 15px;
	}
}
.product-review__userblock {}
.product-review__name {
	margin-bottom: 10px;
	font-weight: 600;
font-size: 18px;
line-height: 22px;
}
.product-review__rating {
	.star-rating {
		@include star-rating(21px, 10px, $accent);
	}

}
.star-rating__star {}
.product-review__date {
	font-weight: 500;
font-size: 14px;
line-height: 17px;
color: rgba(20, 20, 20, 0.3);
}
.product-review__body {
	grid-column: span 2;
	@include min-screen($xs){
		grid-column: 2/3;
		
	}
}
.product-review__text {
	font-weight: 500;
font-size: 18px;
line-height: 22px;
}
.product-review__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
}
.product-review__link {
	color: $accent;
	font-weight: 600;
font-size: 18px;
line-height: 22px;
}
.product-review__like {}
.icon-favorites {}
.product-delivery {}
.product-delivery__row {}
.product-delivery__val {}
.product-delivery__list {}
.dropdown-dark {}
.fstdropdown-select {}
.product-delivery__methods {}
.product-delivery__method {}
.product-delivery__logo {}
.product-delivery__name {}
.product-delivery__termin {}
.product-delivery__price {}