// Cоздпние шрифта на https://icomoon.io/app
// 1.Нажать на "Import Icons"
// 2. Выбрать иконки
// 3. Обесцветить
// 4. Бургер справа от иконок -- select all
// 5. В правом нижнем углу - Generate Font
// 6. Разархивировать в ../fonts/icomoon

// Внимание! При добавлении в сет новых иконок или замене всего сета, чтобы увидеть новый шрифт
// в браузере надо сделать Ctrl + F5, т.е. шрифт кешитруется браузером.

// https://jakearchibald.github.io/svgomg - сервис для исправления проблеммных иконок
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/fonts/icomoon.eot?za5w69');
  src:  url('../fonts/icomoon/fonts/icomoon.eot?za5w69#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.ttf?za5w69') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.woff?za5w69') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.svg?za5w69#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}