@mixin star-rating($ratingStarWidth: 10px, $ratingStarGap: 5px) {
//статичный звезный рейтинг без возможности выбора полтзователем
// $ratingStarWidth - ширина и высота отдельной звезды (передавать в миксин в px!!)
// $ratingStarGap - расстояние м/у звездами (передавать в миксин в px!!)	
	$kef: 1.4;
  
  display: flex;
  width: ($ratingStarWidth + $ratingStarGap) * 5;
  margin-left: -$ratingStarGap ;
  margin-right: -$ratingStarGap  ;
  font-size: $ratingStarWidth * $kef;
  
  &__star{
    flex: 0 0 calc(20% - #{$ratingStarGap});
    margin: 0 $ratingStarGap / 2;
    height: $ratingStarWidth;
    display: block;
    position: relative;
    
    &:before{
      display: block;
      position: absolute;
      content: '★';
      line-height: $ratingStarWidth;
      left: 50%;
      transform: translateX(-50%);

    }
    &.active{
      &:before{
        color: gold;
        // для использования с кастомной иконкой вместо шрифтового символа
     //  	color: transparent;
     //  	background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
	    // background-size: contain;
	    // background-repeat: no-repeat;
      }
    }
  }
}
@mixin simple-rating($ratingStarWidth: 20px, $ratingStarGap: 5px) {
	//звезный рейтинг с возможностью выбора пользователем по клику, только целые числа
	// $ratingStarWidth - ширина и высота отдельной звезды (передавать в миксин в px!!)
	// $ratingStarGap - расстояние м/у звездами (передавать в миксин в px!!)
	$kef: 1.4;
	display: flex;
	width: ($ratingStarWidth + $ratingStarGap) * 5;
	margin-left: -$ratingStarGap ;
	margin-right: -$ratingStarGap ;
	flex-direction: row-reverse;
	font-size: $ratingStarWidth * $kef;
	label{
		flex: 0 0 calc(20% - #{$ratingStarGap});
		margin: 0 $ratingStarGap / 2;
		height: $ratingStarWidth;
		display: block;
		position: relative;
		&:before{
			display: block;
			position: absolute;
			content: '★';
			line-height: $ratingStarWidth;
			left: 50%;
			transform: translateX(-50%);
		}
		&:hover{
			&:before{
				color: yellow;
			}
			& ~ label:before{
				color: yellow;
				// для использования с кастомной иконкой вместо шрифтового символа
				     // color: transparent;
				     // background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
				    // background-size: contain;
				    // background-repeat: no-repeat;
			}
		}

	}
	input{
		position: absolute;
		left: -9999px;

		&:checked ~ label{
			&:before{
				color: gold; 
				// для использования с кастомной иконкой вместо шрифтового символа
			     	//color: transparent;
			     	// background-image: url(https://lh5.googleusercontent.com/-DZ5jyR2NRfk/AAAAAAAAAAI/AAAAAAAAACk/I8BNLS9vfCs/photo.jpg?sz=50);
				    // background-size: contain;
				    // background-repeat: no-repeat;
			}
		}
	}

}

@mixin crystal-rating($fontSize: 40, $spacing: 0) {
	  display: flex;
	  align-items: center;
	  display: flex;
	  position: relative;
	  font-size: $fontSize + px;
	  line-height: 0.75;
	  letter-spacing: $spacing + px;
	  // outline: 1px solid pink;
	  
	  &__body{
	    position: relative;
	    width: ($fontSize * 5 * 0.833) + $spacing * 5 * 0.833 + px;
	    // outline: 1px solid;
	    &:before{
	      display: block;
	      content: '★★★★★';
	    }
	  }
	  &__items{
	    position: absolute;
	    display: flex;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    
	    input{
	      flex: 0 0 20%;
	      display: block;
	      height: 100%;
	      opacity: 0;
	      margin: 0;
	    }
	  }
		.crystal-rating__active{
		  position: absolute;
		  width: 0;
		  display: block;
		  height: 100%;
		  top: 0;
		  left: 0;
		  transition: width 0.2s ease-in;
		 
		  &:before{
		    content: '★★★★★';
		    position: absolute;
		    display: block;
		    height: 100%;
		    width: 100%;
		    top: 0;
		    left: 0;
		    color: yellow;
		    overflow: hidden;
		  }
		}
		.crystal-rating__value{
		  display: inline-block;
		  font-size: .7em;
		  margin-left: 15px;
		  letter-spacing: normal;
		}
}
.star-rating{
	@include star-rating(50px, 10px);
}
.simple-rating{
	@include simple-rating(50px, 0px);
}
.crystal-rating{
	@include crystal-rating(100, 0);
}