/*--------------------ui----------------------*/
h2{
  margin-top: 0;
  @include adaptive-value('margin-bottom', 30, 20, 1);
  font-weight: 700;
  @include adaptive-value('font-size', 30, 24, 1);
  font-size: 30px;
  line-height: calc(46 / 30);
  letter-spacing: 0.05em;
}
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: none;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 5px 52px;
  font-size: 20x;
  font-weight: 600;
	line-height: 17px;
  border-radius: 3px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color .2s ease;
  // border: 1px solid #F1F1F1;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
	
  &:hover{
     background-color: lighten($accent, 5%);
     color: #fff;
  }
   
		
  &:active{
   background-color: darken($accent, 5%);
   color: #fff;
  }
  
  &-empty{
    color: $accent;
    background-color: #fff;
    border: 1px solid $accent;

    &:hover, &:active{
      border-color: transparent;
    }
    
  }
  &-fw{
   width: 100%;
  }
   
}
.title {
  @include adaptive-value('margin-bottom', 144, 40, 1);
}
.title__sub {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 7.5px;
  color: #656D72;

  &:before{
    content: '';
    width: 16px;
    height: 2px;
    margin-right: 16px;
    background: #D9D9D9;
  }

}
.title__heading {
  color: $text;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(45/36);


  &--big{
    font-size: 44px;
    line-height: calc(55/44);

  }

  span{
    color: $accent;
  }
}

.socials {
  display: flex;
  align-items: center;
  column-gap: 34px;
  row-gap: 12px;
}
.socials__item {
  list-style-type: none;
}
.socials__link {
  font-size: 25px;
  color: $text;
  @media (any-hover: hover) { //только для устройств с ховером
      &:hover{
        color: $accent;
      }
    }
}
.swiper-pagination{
  position: static;
  margin-top: 56px;
}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet{
  width: 18px;
  height: 20px;
  margin: 0 7.5px;
  opacity: 1;
  position: relative;
  background-color: transparent;

  &:after{
    content: '';
    width: 100%;
    height: 2px;
    @include absolute-center;
  background-color: #fff;
  }

  &:before{
    width: 10px;
    height: 10px;
    content: '';
    background: #E8AA31;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.66);
    border-radius: 50%;
    position: absolute;
    left: -5px;
     top: 50%;
    margin-top: -5px;
   opacity: 0;
    
  }

}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
  &:after{

    background-color: $accent;
  }
  &:before{
    opacity: 1;
    transition: left 5s linear;
    left: calc(100% - 5px);
  }
}
.swiper-container-horizontal.invert .swiper-pagination-bullets .swiper-pagination-bullet{
  &:after{

   background-color:#898989;
  }
}
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active{
  &:after{
    background-color: $accent;
  }
}

.arrowed-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba($text, .58);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  
  .icon-chev-down {
    flex-shrink: 0;
    margin-left: 15px;
    font-size: 12px;
    color: $accent; 
    transform: rotate(-90deg);
  }
}
/*--------------------END ui----------------------*/ 