$maxWidth: 1440;//ширина макета в граф. редакторе
$maxWidthContainer: 1200;//ширина ограничивающего контейнера без паддингов
$containerPaddings: 30;//сумма левого и правого паддингов ограничивающего контейнера
$maxContainerWidth: $maxWidthContainer + $containerPaddings;// итоговая ширина ограничивающего контейнера

// colors
$accent: #7E74F1;
$text: #232E35;
$gray:#EAE6FE;

// paths
	// use: background-image: url($icos + 'arrow-right.svg');
$img: '../img/';
$icos: '../img/icons/';
$svg: '../img/icons-svg/';


// media
$lg: 1199px;
$md: 991px;
$sm: 767.98px;
$xs: 576px;
$xss: 480px;
$xsss: 375px;
$min: 360px;
$mins: 320px;

// point for multilevel-pnel | размер, на котором multilevel-dropdown превращается в multilevel-panel и наоборот
$multilevelPoint: 1100px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;

$reg: 'raleway-v22-latin_cyrillic-regular', sans-serif;


